<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    {% load static %}
    <!-- <link rel="stylesheet" href='{% load static%} -->
    <link rel="stylesheet" href="{% static 'article/style.css'%}">
</head>
<body>
    <br>
    <span class="bg">

        <h1>pls login to continue</h1>
    </span>
    <br>
    <div class="container">

        <form action="" method="post">
            {% csrf_token %} 
            <input type="text" name="name" id="name" placeholder="Enter your user name">
            <br>
            <input type="password" name="password" id="pass" placeholder="Enter your password "><br>
         

            <input type="submit" id="submit" value="login">
    </div>

        </form>
       
</body>
</html>