<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Subramanya S Hegade">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <link rel="stylesheet" href="usrer.css">
</head>

<body id="body">
    <div class="manu">
        <ul>
            <li>
                <a href="/people" style="color: red;">

                    Home</a> </li>

            <li> <a href="#" style="color: green;">


                    Settings</a> </li>
            <li>
                <a href="#" style="color:rgb(0, 151, 201);">

                    Timeline</a> </li>

            <li>
                <h1
                    style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: rgb(140, 0, 255);font-size: larger;">
                    Code never lies,but comments sometimes Do</h1>
            </li>
            <li>
                <input type="search" name="search" id="search" placeholder="search">
            </li>
        </ul>
    </div>

    <br><br><br>
    <br><br>
    <div class="container">

        <center>
            <img src="" alt="user" class="img" id="result">
        </center>
        <p class="p" contenteditable="true" spellcheck="false" >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex esse, ipsam distinctio eos minima officia
            quasi, tenetur ut velit nisi quisquam tempora corporis dolorem mollitia modi eius voluptatem excepturi sint?
        </p>
     
    <input type="file" value="file"  id="demo"  onchange="fu()">

    <label for="demo">Photo</label>
    </div>
    
    <script src="user.js"></script>
</body>

</html>